.App {
  text-align: center;
  font-size: 35px;
  margin-top: 20%
}

.App-title {
  font-size: 50px;
}

.clock-days, .clock-minutes, .clock-hours, .clock-seconds {
  display: inline;
  margin: 10px;

}

.deadlineInput {
  font-size: 25px;
  margin: 5px

}

.stopwatch-seconds, .stopwatch-minutes{
  display: inline;
  margin: 20px;
  font-size: 20px


}

.btn {
  margin: 10px

}

.stopwatchInput {
 margin: 5px

}
